/* ================= CAREER CARDS ================= */

.career-section {
    padding: 70px 6%;
}

.career-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    align-items: stretch;
}

.career-card {
    background: white;
    border: 1px solid #e9e5f2;
    border-radius: 18px;
    padding: 25px;

    display: flex;
    flex-direction: column;

    min-height: 430px;
    height: 100%;
    box-sizing: border-box;

    transition: 0.3s;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
}

.career-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.10);
}

.career-icon {
    width: 65px;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #eef2ff;
    border-radius: 13px;

    font-size: 32px;
    margin-bottom: 20px;
}

.career-card h3 {
    font-size: 22px;
    color: #111827;
    margin-bottom: 10px;
}

.career-card p {
    color: #374151;
    font-size: 14px;
    line-height: 1.6;

    margin-bottom: 20px;
}

.career-info {
    display: flex;
    flex-direction: column;
    gap: 7px;

    margin: 18px 0;
}

.career-info span {
    font-size: 12px;
    color: #666174;
}

/* VIEW DETAILS BUTTON */

.career-card button {
    width: 100%;
    margin-top: auto;

    padding: 12px 18px;

    border: none;
    border-radius: 10px;

    background: #6366f1;
    color: white;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.3s ease;
}

.career-card button:hover {
    background: #4f46e5;
    transform: translateY(-2px);
}
